.btn {
  background-color: rgb(239, 41, 81);
  height: 2.5rem;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  color: black;
}

@media (max-width: 830px) {
  .btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 650px) {
  .btn {
    font-size: 1.1rem;
  }
}
