.nav :global(.active) {
  text-decoration: overline;
}

.nav {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto;
  height: 4rem;
  width: 100%;
  padding: 0 15%;
  position: sticky;
  background-color: rgb(249, 247, 245);
  border-radius: 10px;
  z-index: 100;
}

.type {
  transition: transform 0.2s ease;
}

.nav a,
.type:hover {
  transform: scale(1.1);
}

.nav li {
  list-style-type: none;
  transition: transform 0.3s ease;
}

.nav li:hover {
  transform: scale(1.2);
}

.nav img {
  width: 4rem;
  height: 3rem;
  border-radius: 0.7rem;
  transition: transform 0.3s ease;
}

.nav img:hover {
  transform: scale(1.02);
}

.nav input {
  width: 25rem;
  height: 2.3rem;
  font-size: 0.8rem;
  border-radius: 5px;
  border: 1px solid wheat;
  background-color: rgb(240, 236, 228);
  text-indent: 1rem;
  transition: transform 0.3s ease;
}

.nav input:hover {
  transform: scale(1.02);
}

.cartWrapper {
  position: relative;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  min-width: 18px;
  text-align: center;
}


@media (max-width: 1250px) {
  .nav input {
    width: 20rem;
  }
}

@media (max-width: 1170px) {
  .nav input {
    width: 18rem;
  }
}

@media (max-width: 1081px) {
  .nav {
    margin: auto;
  }
  .nav input {
    width: 15rem;
  }
}

@media (max-width: 1010px) {
  .nav p {
    display: none;
  }
  .nav input {
    width: 20rem;
  }
}

@media (max-width: 622px) {
  .nav input {
    width: 10rem;
  }
}

@media (max-width: 516px) {
  .nav {
    line-height: 10px;
    gap: 1rem;
  }
  .nav input {
    width: 5rem;
  }
}

@media (max-width: 356px) {
  .nav img {
    width: 3rem;
    height: 3rem;
  }
}
