.card {
  width: 100%;
  height: 25rem;
  position: relative;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
}

.cartButton {
  position: absolute;
  width: 80%;
  height: 2.5rem;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.imageWrapper:hover .cartButton {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-5px);
}

.card b {
  position: absolute;
  bottom: 5%;
  left: 7%;
}

.card pre {
  position: absolute;
  bottom: 0;
  left: 7%;
}

.image {
  width: 100%;
  height: 22rem;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(0.98);
}

@media (max-width: 970px) {
  .card {
    width: 10rem;
    height: 17rem;
  }
  .image {
    width: 10rem;
    height: 11rem;
    padding: 0.8rem;
  }
  .card b,
  pre {
    font-size: small;
  }
  .card b {
    bottom: 25%;
  }
  .card pre {
    bottom: 20%;
  }
}
