.fifth {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  width: 92.7%;
  height: 25rem;
  overflow: hidden;
}

.fifth div {
  width: 45%;
  height: 100%;
  margin: auto;
  transition: transform 0.3s ease;
  position: relative;
}

.fifth div .text {
  position: absolute;
  bottom: 20%;
  left: 17%;
  text-align: left;
  transform: translateX(-50%);
}

.img1 {
  width: 60%;
  height: 100%;
  position: absolute;
  left: 40%;
  border: 1px solid rgb(217, 203, 203);
  opacity: 30%;
}

.img2{
  width: 150%;
  height: 220%;
}

.fifth div:hover {
  transform: scale(1.02);
}

@media (max-width: 1300px) {
  .fifth {
    height: 15rem;
  }
  .fifth div {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .fifth {
    height: 15rem;
  }
  .fifth div {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .fifth {
    height: 12rem;
  }
  .fifth div {
    width: 50%;
  }
}

@media (max-width: 850px) {
  .fifth {
    height: auto;
    gap: 0.5rem;
    flex-direction: column;
  }
  .fifth div {
    width: 70%;
  }
}

@media (max-width: 460px) {
  .fifth div:nth-child(2) {
    display: none;
  }
  .fifth div:first-child {
    width: 90%;
  }
}
