.beforeSearchContainer {
  height: 20rem;
  margin: 2rem 0;
  padding: 3rem 0;
  background-color: rgb(210, 207, 199);
}

.beforeSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  gap: 4rem;
}

.beforeSearch img {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  border: 1px solid #000;
}

.beforeSearch div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 4rem;
}

select:focus {
  outline: none;
  box-shadow: none;
}
