.cart {
  margin: 1rem auto;
  width: 70%;
  padding: 1rem;
}

.cart button{
  width:33%;
  text-align: left;
}
.titles{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titles img{
  width: 7rem;
  aspect-ratio: 1/1;
}

.item{
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid rgb(217, 219, 217);
  border-bottom: 1px solid rgb(217, 219, 217);
}