.item {
  font-size: 1rem;
  max-width: 45rem;
  height: 17rem;
  padding: 15px;
  border: 1px solid rgb(159, 156, 156);
  border-radius: 10px;
  margin: 1rem auto;
  text-align: left;
  display: flex;
  gap: 2rem;
  position: relative;
}

.quantityButton {
  position: absolute;
  bottom: 10%;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.deleteButton {
  width: 7rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  border-color: rgb(239, 41, 81);
}

.item:hover {
  border: 2px solid rgb(239, 41, 81);
}

.item img {
  width: 30%;
  height: 15rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item ul {
  display: flex;
  gap: 1rem;
}

.item ul li {
  width: 3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(233, 231, 231);
  transition: transform 0.1s ease;
}

.item ul li:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.select {
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 5px;
}

.amount {
  text-decoration: line-through;
  color: rgb(239, 41, 81);
}

@media (max-width: 980px) {
  .item {
    height: 12rem;
    font-size: 0.8rem;
  }
  .item img {
    height: 10rem;
  }
  .details {
    gap: 0.5rem;
  }
  .item ul {
    gap: 0.5rem;
  }
  .item ul li {
    width: 2.5rem;
    height: 1.5rem;
  }
}

@media (max-width: 750px) {
  .item {
    height: 12rem;
    font-size: 0.8rem;
    gap: 0.8;
  }
  .item img {
    height: 10rem;
  }
  .details {
    gap: 0.5rem;
  }
  .item ul {
    gap: 0.5rem;
  }
  .item ul li {
    width: 2rem;
    height: 1.5rem;
  }
  .deleteButton {
    width: 6rem;
  }
}

@media (max-width: 540px) {
  .item {
    height: 11rem;
    gap: 0.5rem;
  }
  .details {
    gap: 0.1rem;
  }
  .item img {
    height: 9rem;
  }
  .deleteButton {
    width: 5rem;
  }
}
