.login {
  margin: auto;
  width: 60%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* .login img {
  width: 48%;
  height: 95%;
  border-radius: 10px;
  object-fit: 100%;
} */

/* .login div {
  width: 100%;
  height: 95%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.login input {
  width: 20rem;
  height: 3rem;
  text-indent: 1rem;
  margin: 0.5rem;
  border: 2px solid rgb(209, 175, 244);
  border-radius: 10px;
  background-color: rgb(245, 243, 247);
}

.login input::placeholder {
  color: rgba(41, 40, 40, 0.849);
  font-size: 0.8rem;
}

.btn {
  width: 20rem;
  height: 3rem;
  margin: 0.5rem auto;
  text-indent: 1rem;
  border: 2px solid rgb(43, 8, 79);
  color: azure;
  border-radius: 10px;
  background-color: rgb(128, 72, 185);
  cursor: pointer;
}
