.firstblock {
  width: 90%;
  height: 35rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  gap: 0;
  font-size: 1.5rem;
}

.firstblock div {
  margin: 1% auto;
  width: 48%;
}

.firstimage {
  background-color: #eff0f2;
  background-repeat: no-repeat;
  background-size: 70% 100%;
  background-position-x: right;
  position: relative;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.firstimage:hover {
  transform: scale(1.02);
}

.secondblock {
  display: flex;
  flex-direction: column;
}

.secondblock div {
  width: 100%;
  height: 100%;
}

.secondimage {
  background-color: #e2dccf;
  background-repeat: no-repeat;
  background-size: 49% 100%;
  background-position-x: right;
  position: relative;
  transition: transform 0.5s ease;
  border-radius: 5px;
}

.secondimage:hover {
  transform: scale(1.03);
}

.thirdblock {
  display: flex;
  gap: 1rem;
}

.thirdblock a {
  width: 90%;
  height: 100%;
}

.thirdimage {
  background-color: #e5e2db;
  background-repeat: no-repeat;
  background-size: 80% 100%;
  object-fit: cover;
  background-position-x: right;
  position: relative;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.thirdimage:hover {
  transform: scale(1.02);
}

.fourthimage {
  position: relative;
  background-color: #F5E6E0;
  transition: transform 0.3s ease;
  border: 1px solid rgb(236, 221, 222);
  border-radius: 5px;
}

.fourthimage:hover {
  transform: scale(1.02);
}

.span {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.some {
  position: absolute;
  top: 10%;
  left: 10%;
  display: none;
}

@media (max-width: 1130px) {
  .firstblock {
    height: 25rem;
    font-size: 1rem;
  }
  .some {
    display: none;
  }
}

@media (max-width: 960px) {
  .firstblock {
    height: 20rem;
    margin: 0.8rem auto;
    font-size: 1rem;
  }
  .some {
    display: none;
  }
}

@media (max-width: 730px) {
  .firstblock {
    display: none;
  }
  .some {
    display: flex;
  }
  .span {
    display: none;
  }
  .second {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: 20rem;
    gap: 1rem;
    font-size: 0.8rem;
  }

  .second .imagefirst,
  .imagesecond,
  .imagethird,
  .imagefourth {
    border: 1px solid darkgrey;
    border-radius: 5px;
  }
  .imagefirst {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .imagesecond {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
  }
  .imagethird {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .imagefourth {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .span {
    font-size: 0.7rem;
  }
}
