.sixthblock {
  margin: auto;
  width: 80%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sixthblock h1 {
  text-align: center;
}

.sixth {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.sixth img {
  width: 100%;
  border: 1px solid black;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.sixth img:hover {
  transform: scale(1.05);
}

.text {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .sixth {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
  }
}

@media (max-width: 500px) {
  .sixth {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }
}
