.footer {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  margin: 0 auto ;
  padding: 4rem;
}

.footer div {
  margin: auto;
  font-size: 0.8rem;
}

.footer p {
  cursor: pointer;
  margin: 0.3rem auto;
}

.span {
  display: flex;
  gap: 2rem;
}

.span li {
  width: 5px;
}

.copyright {
  text-align: center;
  font-size: 0.9rem;
  margin: 1rem;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  display: flex;
  margin: 2rem;
  gap: 2rem;
  justify-content: center;
}

@media (max-width: 1000px) {
  .footer {
    padding: 3rem;
  }
}

@media (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    place-items: center;
  }
}
